<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--add tyd  2018年4月7日14:08:24-->
<mapper namespace="com.oly.entity.RunnerVo">
    <insert id="save" parameterType="int">
       INSERT INTO caserun VALUES (#{id},#{method},#{url},#{contecttype},#{body},#{result})
    </insert>
    <delete id="delete" parameterType="int">
      DELETE FROM caserun WHERE  id=#{id}
    </delete>
</mapper>